NUXT_SESSION_PASSWORD=generate-a-random-32-char-minimum-secret-key
NUXT_OAUTH_GITHUB_CLIENT_ID=
NUXT_OAUTH_GITHUB_CLIENT_SECRET=
NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=
NUXT_OAUTH_YANDEX_CLIENT_ID=d78e7835df7c4f1c84d412a809c21512
NUXT_OAUTH_YANDEX_CLIENT_SECRET=4cba996638764efb90f7d34c35c96e78
REDIS_URL=redis://localhost:6379
STOCKFISH_PATH=/usr/bin/stockfish

EMAIL_SMTP_HOST=smtp.example.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
EMAIL_FROM=Chess <noreply@example.com>
NUXT_PUBLIC_APP_URL=http://localhost:3000

SHM_SERVER_URL=http://shm:8080
SHM_APP_NAME=Chess
SHM_ENABLED=true
SHM_DB_PASSWORD=shm_dev
SHM_PORT=8080
